
<div id="<%= dom_id recomendacao %>">
  <p>
    <strong>Titulo:</strong>
    <%= recomendacao.titulo %>
  </p>

  <p>
    <strong>Artista:</strong>
    <%= recomendacao.artista %>
  </p>

  <p>
    <strong>Comentário</strong>
    <%= recomendacao.desc %>
  </p>

  <p>
    <strong>Capa</strong>
    <%= recomendacao.img %>
  </p>

</div>








